* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html {
  height: 130vh;
  background-color: rgb(231, 195, 195);
  height: 100vh;
}
body {
  height: 100%;
}
#root{
  height: 100%;
}
.App {
  gap: 100px;
  column-gap: 100px;
  height: 100%;
  nav {
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    /* height: 10%; */
    ul {
      list-style-type: none;
      padding-top: 70px;
      text-align: center;
      padding-bottom: 5%;
      height: 100%;
      a {
        height: 100%;
        li {
          display: inline;
          margin: 0 50px;
          font-size: 1.5rem;
          color: whitesmoke;
          font-weight: bold;
        }
      }
    }
  }
}

.img {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  margin-top: 6%;
  gap: 20px;
  padding-bottom: 50px;
}

.box {
  cursor: pointer;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 30px;
  background:wheat;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  h1 {
    font-size: 1.3rem;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
  }
}

li:focus,
li:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: whitesmoke;
}
li:visited{
  color: darkblue;
}
ul a:hover{
  li:hover{
color: black;
  }}

  .career{
    height: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 70px;
    gap: 30px;
    .link{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: flex;
      flex-direction: column;
      width: 300px;
      height: fit-content;
      align-items: center;
      background-color: wheat;
      border-radius: 20px;
      img{
        display: block;
      }
      a {
        text-decoration: none;
        text-align: center;
        li{
          margin-top: 10px;
          font-weight: 900;
        }
    }
  }}
  .link img:focus,
  .link img:hover{
    filter: blur(8px);
  }

@media (max-width: 600px) {
  html {
    height: 610vh;
    background-color: whitesmoke;
  }
  .App {
    display: flex;
    justify-content: space-around;
  }
  .nav {
    display: block;
    text-align: center;
    width: 50%;
    position: fixed;
    height: 100%;
    left: 0;
  }
  ul {
    
     flex-direction: column;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    a {
      display: block;
      text-align: center;
      li {
        display: block;
        text-align: center;
      }
    }
  }
  .img {
    display: block;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    right: 60px;
    gap: 10px;
    overflow-y: scroll;
    .box {
      margin: 15px auto;
    }
  }
}
